.balance-add-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.para_bold {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}

.form-label {
  text-align: left;
  margin-bottom: 5px; 
  padding-left: 100px;
}

.formLabel.form-label{
  color : #7315b6;
}

.payment {
  margin-top: 60px;
}

.input-field.form-control{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}